body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #003366;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button[type="reset"] {
    background-color: #6c757d;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #cce5ff;
    border-radius: 5px;
}

.nota {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}
